<html>
  <head>
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <%= include_iui_files %>
  </head>
 
  <body>
    <div class="toolbar">
    <a id="backButton" class="button" href="/"></a>
    </div>
    <ul id="home" title="Sunnybee?" selected="true">
      <li><%=  @sun ? 'Sunnybee!' : 'Rainybee.' %></li>
    </ul>
  </body>
</html>

