<?xml version="1.0" encoding="ISO-8859-1"?>
<lookup>
    <title><%=@res.title%></title>
    <condition><%=@res.condition.text%></condition>
    <umbrella><%=@sun ? 'false' : 'true' %></umbrella> 
</lookup>
