<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>sunnybee?</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/stylesheets/base.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="home">
<%= yield %>
</div>
<a class="link" id="homelink" href="/"><span>home</span></a>
<a class="link" id="awarelink" href="http://www.awaredesign.eu"><span>aware</span></a>
<a class="link" id="beeawarelink" href="http://www.caringbee.com"><span>beeaware</span></a>
</body>
</html>
